<!DOCTYPE html>
<html lang="pt-pt">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>XPTO Outdoors</title>
		<link rel="stylesheet" href="/outdoors/app/content/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/outdoors/app/content/css/home.css">
	</head>
	<body>
		{{ super.nav }}
		<div class="home-banner">
			<div>
				<h1>
					Olá, Somos a XPTO
				</h1>
				<p class="decription-text">Conheça os nossos serviços, fizemos aluger de outdoors em toda Angola!
				</p>
			</div>
		</div>
		<div class="home-title">
			<h1>
				<span>Tipos de Outdoors</span>
			</h1>
		</div>
		<div class="container-outdoors-types">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Paineis Luminosos</h5>
							<p class="card-text">Os painéis luminosos, também conhecidos como painéis de LED ou painéis eletrônicos, são dispositivos visuais que exibem informações usando diodos emissores de luz.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Paineis Não Luminosos</h5>
							<p class="card-text">Os painéis não luminosos são utilizados em outdoors para exibir conteúdo estático, como imagens e mensagens impressas em material resistente às condições climáticas.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Faixadas</h5>
							<p class="card-text">
								As faixadas em outdoors são estruturas instaladas nas fachadas de edifícios ou em áreas externas, geralmente ao longo de ruas movimentadas ou em locais estratégicos.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Placas Indicativas</h5>
							<p class="card-text">As placas indicativas em outdoors são estruturas utilizadas para exibir informações direcionais ou informativas em áreas externas. Essas placas são projetadas para fornecer orientações, indicar locais ou fornecer informações relevantes para o público.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Lampoles</h5>
							<p class="card-text">Os lampiões em outdoors, também conhecidos como postes de iluminação, são estruturas que geralmente acompanham os outdoors para fornecer iluminação durante a noite. Esses lampiões são projetados para fornecer iluminação adequada ao redor do outdoor.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="home-title">
			<h1>
				<span>Espaços Disponíveis</span>
			</h1>
		</div>
		<div class="container-outdoors-types">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col">
					<div class="card">
						<img src="https://www.startupguys.net/wp-content/uploads/2016/12/Bus-Stop-Adverts-1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
							<a href="#" class="btn btn-primary">Contratar</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mediamove.id/wp-content/uploads/2021/05/absolut_drinks_ooh1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<a href="#" class="btn btn-primary">Contratar</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mediamove.id/wp-content/uploads/2021/05/absolut_drinks_ooh1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							<a href="#" class="btn btn-primary">Contratar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			CopyRight@2023
		</footer>
		<script src="/outdoors/app/scripts/bootstrap/bootstrap.js"></script>
	</body>
</html>
