<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/outdoors/home">XPTO Outdoors</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				{% if super.user %}
					{% if super.user.access == 'admin' %}
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/outdoors/manager">Criar Gestor</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/outdoors/manager-list">Listar Gestor</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/outdoors/users">Usuários</a>
						</li>
					{% elseif super.user.access == 'normal' %}
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/outdoors/profile">Perfil</a>
						</li>
					{% elseif super.user.access == 'manager' and super.user.status == 0 %}
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/outdoors/manager-update-password">Atualizar Senha</a>
						</li>
					{% elseif super.user.access == 'manager' and super.user.status == 1 %}
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/outdoors/">Criar Outdoors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/outdoors/">Listar Outdoors</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/outdoors/">Listar Solicitaçõess</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/outdoors/logout">Sair</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/outdoors/login">Entra</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/outdoors/registry">Cadastrar-se</a>
					</li>
				{% endif  %}
			</ul>
		</div>
	</div>
</nav>
